{% extends "base.html" %}

{% block title %}Articles{% endblock %}

{% block content %}
    <h1>Edit</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" value="{{ article.title }}">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" name="body">{{ article.body }}</textarea>
        </div>
        <button class="btn btn-info ml-2" type="submit">Update</button>
    </form>
{% endblock %}
